body {
    min-height: 100dvh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: rgb(205, 225, 243);
}

h1, h2 {
    font-size: 12px;
}

h3 {
    font-size: 14px;
}

p {
    font-size: 12px;
}

img {
    border-radius: 100%;
    width: 30px;
}

.flex-box {
    display: flex;
    flex-direction: row;
}

.testimonials-section {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 300px);
    gap: 1em;
    grid-template-areas: 
        "big big small sidebar"
        "small2 big2 big2 sidebar";
}

.testimonial {
    background-color: blue;
    color: white;
    padding: 1em;
    border-radius: 10px;
}

.testimonial h1 {
    align-self: top;
}

.big {
    grid-area: big;
    background-color: rgb(189, 104, 189);
}

.small {
    grid-area: small;
    background-color: rgb(99, 113, 160);
}

.sidebar {
    grid-area: sidebar;
    background-color: whitesmoke;
    color: black;
}

.small2 {
    grid-area: small2;
    background-color: white;
    color: black;
}

.big2 {
    grid-area: big2;
    background-color: rgb(51, 44, 44);
}